@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    margin: 0;
    padding: 20px 10px 0 10px;

    background-color: #D0EEE4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 350px;

    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
}

img {
    margin-bottom: 10px;

    height: 40px;
    width: auto;

}

.inputMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 350px;

    margin-bottom: 80px;

    width: 100%;
}

.guessesBlock {
    background-color: white;
    border-radius: 10px;

    padding: 40px 20px 20px 20px;
    margin-bottom: 50px;

    box-shadow: 3px 3px 0 rgb(156, 179, 171);
}


input {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 3px 3px 0 rgb(156, 179, 171);

    font-size: 20px;

    padding: 0 20px 0 20px
}

input:hover {
    background-color: rgb(233, 233, 233);
}

.guessRow {
    display: flex;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    gap: 15px; 
    margin-bottom: 20px;
}

.guessButton, .restartButton {
    margin-top: 10px;
    font-size: 20px;
    padding: 0 10px 0 10px;
    width: auto;
    height: 45px;
    color: white;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 3px 3px 0 rgb(156, 179, 171);
}

.guessButton {
    background-color: #8AA39B;
}

.guessButton:hover {
    background-color: #6d837c;
}

.restartButton {
    background-color: #FF3333;
}

.restartButton:hover {
    background-color: #eb1a1a;
}

.green, .blue, .grey {
    width: 45px;
    height: 35px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    padding-top: 14px;
    margin: 0;

    font-size: 20px;
}

.green {
    background-color: #FF3333;
    color: white;
}

.blue {
    background-color: #46a584;
}

.grey {
    background-color: #9aa5a1;
}
